@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    if your email was registered the email was sent<br />
    Please check your email to reset your password.
</p>

